*{
  font-family: 'Caveat Brush';
  cursor: default;
}

body {
  background-color: #F0F0F0;
}

.header {
  width: 100%;
  height: 96px;
  margin-bottom: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 96px;
  font-size: 96px;
  color: #541DCB;
  font-family: 'Caveat Brush';
}


.postion-container {
  display: flex;
  justify-content: center;
}

.question-container {
  background-color: #541DCB;
  width: 608px;
  height: 144px;
  border-radius: 48px;
  padding: 16px 0px 24px 0px;
  box-sizing: border-box;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 64px;
}

.question-number, .question-text {
  display: flex;
  justify-content: center;
  color: #F0F0F0;
}

.question-number {
  font-size: 48px;
  margin-bottom: 16px;
}

.question-text {
  font-size: 28px;
  font-family: 'Ubuntu';
  line-height: 32px;
}


.answer-container {
  height: 448px;
  display: grid;
  column-gap: 40px;
  grid-template-columns: 300px 300px;
  row-gap: 40px;
  color: rgb(13, 13, 13);
}

.answer-0, .answer-1, .answer-2, .answer-3 {
  width: 300px;
  height: 160px;
  border-radius: 16px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 36px;
  cursor: pointer;
}

.answer-0 {
  background-color: #FBD038;
}
.answer-1 {
  background-color: #3FB634;
}
.answer-2 {
  background-color: #4662F2;
}
.answer-3 {
  background-color: #E53C3C;
}

.next-img {
  height: 64px;
  position: relative;
  top: 0px;
  right: -230px;
  cursor: pointer;
}

.submit-button {
  background-color: #39ce2c;
  width: 300px;
  height: 64px;
  border-radius: 16px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu';
  font-size: 32px;

  cursor: pointer;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
}


.opacity-60 {
  opacity: 60%;
}

.opacity-0{
  opacity: 0;
}