*{
  font-family: 'Caveat Brush';
  cursor: default;
}

body {
  background-color: #F0F0F0;
}

.header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 96px;
  margin-bottom: 64px;

  display: flex;
  justify-content: center;
  align-items: start;

  line-height: 96px;
  font-size: 96px;
  color: #541DCB;
  background-color: #F0F0F0;
  height: 196px;
  font-family: 'Caveat Brush';
}

.postion-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.back-container {
  width: 636px;
  height: 625px;
  border-radius: 56px;
  padding-top: 32px;
  
}

.upper-container {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
  background-color: #541DCB;
  width: 636px;
  border-radius: 56px 56px 0px 0px;
}

.head {
  height: 100px;
  
  display: flex;
  justify-content: center;

  font-size: 64px;
  line-height: 96px;
  color: #F0F0F0;
  margin-bottom: 32px;
}

.quiz-container {
  width: 373px;
  height: 70px;
  background-color: #F0F0F0;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  font-size: 32px;
  cursor: pointer;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
}

.quiz-container:hover {
  box-shadow: 16px 20px 20px rgba(0, 0, 0, 0.65);
}

.bottom-container {
  z-index: 100;
  position: fixed;
  width: 636px;
  height: 155px;
  border-radius: 0px 0px 56px 56px;
  background-color: #F0F0F0;
  bottom: 90px;
  box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px 0px 16px;
  box-sizing: border-box;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);;
}

.quiz-outer {
  display: grid;
  justify-content: center;
  background-color: #541DCB;
  position: relative;
  bottom: -132px;
  padding-top: 32px;
}

.right, .left {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.right:hover, .left:hover {
  text-decoration: underline;
  cursor: pointer;
}

.plus-img {
  cursor: pointer;
  margin-right: 16px;
}

.books-img {
  cursor: pointer;
  margin-left: 16px;
}

.books-img {
  width: 56px;
}

.close-bottom {
  position: fixed;
  z-index: 5;
  background-color: #F0F0F0;
  width: 100%;
  height: 170px;
  bottom: 00px;
}
